astroid==2.5.1
attrs==20.3.0
cvxpy==1.1.11
ecos==2.0.7.post1
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
llvmlite==0.36.0
mccabe==0.6.1
numba==0.53.0
numpy==1.20.1
osqp==0.6.2.post0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
qdldl==0.1.5.post0
scipy==1.6.2
scs==2.1.2
toml==0.10.2
wrapt==1.12.1
